# Core Dependencies
ccxt==4.3.19
firebase-admin==6.6.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
tensorflow==2.17.0
joblib==1.4.2
python-dotenv==1.0.1
schedule==1.2.2
requests==2.31.0
websockets==13.1
python-telegram-bot==20.7